<template>
    <div id="app" class="wrapper">
        <div class="alert alert-danger" v-if="error">{{error}}</div>
        <calendar-day v-on:back="showDay=false" :user="user" :user_role="user_role" v-if="showDay" :day="day"></calendar-day>
        <calendar v-else v-on:select_day="selectDay($event)"></calendar>
    </div>
</template>

<script>
    import moment from 'moment'

    Vue.prototype.moment = moment;
    moment.locale('ru');
    export default {
        props: ['user_role','user'],
        data() {
            return {
                events: [],
                query: {},
                clickedEvent: {},
                day: moment.now(),
                showDay: false,
            }
        },
        methods: {
            selectDay(date) {
                this.showDay = true;
                this.day = date;
            },
        }
    }
</script>

<style>

</style>