<template>
    <div>
        <h4 class="pull-right">{{day.format('DD.MM.YYYY')}}</h4>
        <button @click="$emit('back')" class="btn btn-xs btn-default"> Назад</button>
        <div style="clear:both"></div>
        <div class="table-responsive">
            <table class="table table-bordered" v-if="data.length>0">
                <tbody>
                <tr v-for="(doctor,i) in data">
                    <td>
                        {{doctor.doctor.name}}
                    </td>
                    <td>
                        <select v-model="currentTime" class="form-control" v-if="user_role=='user'"
                                @change="makeNewRecord(doctor,doctor.times[currentTime])">
                            <option disabled>Выберите время для записи</option>
                            <option :value="index" v-for="(time,index) in doctor.times" v-if="time.status=='free'">
                                {{time.time}}
                            </option>
                        </select>
                        <a v-on:click="openRecords(doctor)" v-else>Открыть расписание</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div v-else class="alert alert-info">
                На выбранный день приема нет.
            </div>
        </div>
        <div class="modal fade" id="newRecord">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <p class="modal-title">
                            {{day.format('DD.MM.YYYY') }}
                        </p>
                        <p>
                            {{moment(newRecord.start).format('HH:mm')}} - {{moment(newRecord.end).format('HH:mm')}}
                        </p>
                        <p>
                            {{doc}}
                        </p>
                    </div>
                    <div class="modal-body">
                        <div v-if="user_role != 'user'">
                            <label for="patient">Имя пациента</label>
                            <input type="text" class="form-control" id="patient" v-model="newRecord.patient" required>
                            <label for="email">Email пациента *</label>
                            <input type="text" class="form-control" id="email" v-model="newRecord.email" required>
                            <label for="phone">Телефон пациента</label>
                            <input type="text" class="form-control" id="phone" v-model="newRecord.phone">
                        </div>
                        <label for="name">Проблема *</label>
                        <input type="text" class="form-control" id="name" v-model="newRecord.name" required>

                        <label for="comment">Комментарии</label>
                        <input type="text" class="form-control" id="comment" v-model="newRecord.comment">
                        <hr>
                        <div class="radio-inline">
                            <label>
                                <input type="radio" v-model="newRecord.place" id="online" value="online" required>
                                Запись на <strong>онлайн</strong> консультацию
                            </label>
                        </div>
                        <div class="radio-inline">
                            <label>
                                <input type="radio" v-model="newRecord.place" id="offline" value="offline" required>
                                Запись на <strong>очную</strong> консультацию
                            </label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                        <button type="button" class="btn btn-primary" @click="createRecord">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="editRecord">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">{{currentEvent.user?currentEvent.user.name:''}}</h4>
                        <p>{{moment(currentEvent.start_date).format('DD.MM.YYYY HH:mm')}} -
                            {{moment(currentEvent.end_date).format('DD.MM.YYYY HH:mm')}}</p>
                    </div>
                    <div class="modal-body">
                        <label for="e-name">Проблема *</label>
                        <input type="text" class="form-control" id="e-name" v-model="currentEvent.name" required>
                        <label for="e-comment">Комментарии</label>
                        <input type="text" class="form-control" id="e-comment" v-model="currentEvent.comment">
                        <hr>
                        <div class="radio-inline">
                            <label>
                                <input type="radio" v-model="currentEvent.place" value="online" required>
                                Запись на <strong>онлайн</strong> консультацию
                            </label>
                        </div>
                        <div class="radio-inline">
                            <label>
                                <input type="radio" v-model="currentEvent.place" value="offline" required>
                                Запись на <strong>очную</strong> консультацию
                            </label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="pull-left btn btn-danger" @click="deleteRecord">Удалить
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                        <button type="button" class="btn btn-primary" @click="saveRecord">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="showRecords">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Врач: <strong>{{doc}}</strong></h4>
                    </div>
                    <div class="modal-body">
                        <span style="margin: 10px 5px;display: inline-block;font-size: 15px;"
                              class="label label-primary" v-for="(time,index) in currentDoctor.times">
                             <a style="color:whitesmoke;cursor: pointer;" v-if="time.status==='free'"
                                v-on:click="makeNewRecord(currentDoctor,time)">{{time.time}}</a>
                            <span v-else-if="time.status==='home'">-</span>
                            <span v-else-if="time.status==='busy'">Занято</span>
                            <a style="color:whitesmoke;cursor: pointer;" v-else
                               v-on:click="openRecord(currentDoctor,time)"> Открыть</a>
                        </span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import moment from 'moment'

    Vue.prototype.moment = moment;
    moment.locale('ru');
    export default {
        name: "calendar-day",
        props: ['day', 'user_role', 'user'],
        data() {
            return {
                newRecord: {
                    patient: this.user ? this.user.name : '',
                    email: this.user ? this.user.email : '',
                    phone: this.user ? this.user.phone : '',
                    name: '',
                    start: '',
                    end: '',
                    comment: '',
                    place: ''
                },
                currentEvent: {
                    patient: '',
                    email: '',
                    phone: '',
                    name: '',
                    start: '',
                    end: '',
                    comment: '',
                    place: ''
                },
                showRecordType: true,
                data: [],
                doc: '',
                currentDoctor: [],
            }
        },
        created() {
            this.getData();
        },
        methods: {
            getData() {
                var query = {
                    'day': this.day
                };
                axios.post('/records/data', query).then(response => {
                    // this.events = response.data;
                    if (response.data.code == 0) {
                        this.data = (response.data.object);
                    } else {
                        // Какая-то залупа
                    }
                });
            },
            makeNewRecord(doctor, time) {
                var start = moment(time.time, 'HH:mm');
                var end = moment(time.time, 'HH:mm').add(30, 'minutes');
                this.newRecord.start = this.day.format('YYYY-MM-DD') + ' ' + start.format('HH:mm');
                this.newRecord.end = this.day.format('YYYY-MM-DD') + ' ' + end.format('HH:mm');
                this.newRecord.doctor_id = doctor.doctor.id;
                this.doc = doctor.name;
                $('#showRecords').modal('hide');
                $('#newRecord').modal();
            },
            createRecord() {
                axios.post('/records/new', this.newRecord).then(response => {
                    // this.events = response.data;
                    if (response.data.code == 0) {
                        //   this.data.push(response.data.object);
                        console.log(response.data.object);

                    } else {
                        // Какая-то залупа
                    }
                });
            },
            openRecord(doctor, time) {
                this.currentEvent = time.record;
                this.doc = doctor.name;
                $('#showRecords').modal('hide');
                $('#editRecord').modal();

            },
            openRecords(doctor) {
                this.currentDoctor = doctor;
                this.doc = doctor.doctor.name;
                $('#showRecords').modal();
            },
            saveRecord() {
                axios.post('/records/edit', this.currentEvent).then(response => {
                    // this.events = response.data;
                    if (response.data.code == 0) {
                        console.log(response.data.object);

                    } else {
                        // Какая-то залупа
                    }
                });
            },
            deleteRecord() {
                axios.post('/records/delete', this.currentEvent).then(response => {
                    // this.events = response.data;
                    if (response.data.code == 0) {
                        //   this.data.push(response.data.object);
                        console.log(response.data.object);

                    } else {
                        // Какая-то залупа
                    }
                });
            }
        }
    }
</script>

<style scoped>
    table a {
        cursor: pointer;
    }
</style>