<template>
        <div ref="calendar"></div>
</template>

<script>
    export default {
        props: [],
        data() {
            return {
                cal: this.$refs.calendar,
                args: {
                    firstDay: 1,
                    lang: 'ru',
                    locale: 'ru',
                    header: {
                        left: 'prev,next',
                        center: 'title',
                        right: 'today'
                    },
                    height: "auto",
                },
                showDay:false,
                day: {},
            }
        },
        mounted() {
            var self = this;
            self.cal = $(self.$refs.calendar);

            /* Нажатие на дату */
            self.args.dayClick = function (date) {
                self.$emit('select_day', date);
            };
            self.cal.fullCalendar(self.args);
        },
        methods: {
        }
    }

</script>