<template>
    <div>
        <button class="btn btn-primary btn-xs" @click="show = !show">
            <span class="glyphicon glyphicon-plus"></span>
            Создать чат
        </button>
        <div v-if="show">
            <form method="post" :action="url">
                <input type="hidden" name="type" value="public"/>
                <input type="hidden" name="_token" :value="csrf"/>
                <div class="form-group">
                    <label for="name">Название чата</label>
                    <input id="name" name="name" class="form-control" value=""/>
                </div>
                <div class="form-group">
                    <label for="doctor">Выберите участников чата</label>
                    <autocomplete
                            url="/doc/doctors/list"
                            anchor="name"
                            label="email"
                            id="doctor"
                            :options="[]"
                            :classes="{ input: 'form-control', list: 'data-list', item: 'data-list-item' }"
                            :on-select="addDoctor">
                    </autocomplete>
                </div>
                <div v-for="member in members" class="alert alert-info">
                    {{member.name}}
                    <button type="button" class="close" aria-hidden="true" @click="deleteDoctor(member)">&times;
                    </button>
                </div>
                <input v-for="id in ids" type="hidden" name="members[]" :value="id"/>
                <button class="btn btn-primary btn-xs" type="submit">Продолжить
                    <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </form>
        </div>
    </div>
</template>

<script>
    import Autocomplete from 'vue2-autocomplete-js';


    export default {
        name: "chats",
        components: {
            Autocomplete
        },
        data() {
            return {
                show: false,
                members: [],
                ids: [],
                csrf: '',
                url: '/doc/chat/create'
            }
        },
        mounted() {
            this.csrf = window.Laravel.csrfToken
        },
        methods: {
            addDoctor(Obj) {
                this.ids.push(Obj.id);
                this.members.push(Obj)
            },
            deleteDoctor(member) {
                this.ids.splice(this.ids.indexOf(member.id), 1);
                this.members.splice(this.members.indexOf(member), 1);
            }
        }
    }
</script>

<style scoped>

</style>