<template>
    <div class="row">
        <div class="col-sm-6">
            <form action="/clinic/register" method="post" role="form">
                <input type="hidden" name="_token" :value="csrf"/>
                <input type="checkbox" name="is_robot" value="1" style="opacity: 0"/>
                <div class="form-group">
                    <label>Имя администратора</label>
                    <input type="text" name="user_name" placeholder="Как к Вам можно обращаться?" @focus="hint('name')"
                           class="form-control">
                </div>
                <div class="form-group">
                    <label>Email администратора <strong>*</strong></label>
                    <input type="email" name="email" placeholder="Введите email" required @focus="hint('email')"
                           class="form-control">
                </div>
                <div class="form-group">
                    <label>Телефон администратора</label>
                    <input type="text" name="phone" placeholder="Введите телефон" class="form-control"
                           @focus="hint('phone')">
                </div>
                <div class="form-group">
                    <label>Название клиники</label>
                    <input type="text" name="clinic_name" placeholder="Введите название Вашей клиники"
                           @focus="hint('company')"
                           class="form-control">
                </div>
                <div class="form-group">
                    <label>Бесплатный домен <strong>*</strong> </label>
                    <div class="input-group">
                        <input type="text" name="domain" class="form-control" required @focus="hint('domain')"
                               placeholder="Придумайте адрес для Вашего сайта">
                        <span class="input-group-addon">.healit.ru</span>
                    </div>
                </div>
                <div class="form-group pull-right">
                    <button type="submit">
                        Начать работу
                    </button>
                </div>
            </form>
            <small>*в процессе работы можно прикрепить свой</small>
        </div>
        <div class="hidden-xs col-sm-6 vue-description">
            <h3 v-html="message.title"></h3>
            <span v-html="message.text"></span>
        </div>
    </div>
</template>

<script>
    export default {
        name: "register-clinic",
        data() {
            return {
                csrf: '',
                message: {
                    title: '',
                    text: ''
                }
            }
        },
        mounted() {
            this.csrf = window.Laravel.csrfToken
        },
        methods: {
            hint(type) {
                var map = {
                    name: {
                        label: 'Имя администратора',
                        text: '<p>Введите имя администратора клиники. </p><p>В задачи администратора входит настройка кабинета, выбор модулей, а так же отслеживание деятельности врачей и пациентов клиники</p> '
                    },
                    email: {
                        label: 'Регистрационный email',
                        text: '<p><strong>Обязательное поле. </strong> После регистрации, email нельзя будет сменить.</p><p> Email будет использоваться как логин входа в систему.</p>'
                    },
                    phone: {
                        label: 'Телефон администратора',
                        text: '<p>Телефон администратора - опционное поле. </p><p>Не обязательно к заполнению, вы всегда сможете указать телефон позднее</p>'
                    },
                    company: {
                        label: 'Название компании',
                        text: '<p>Название клиники будет отображаться у всех пользователей.</p>'
                    },
                    domain: {
                        label: 'Выберите доменное имя',
                        text: '<p><strong>Обязательное поле.</strong> Укажите доменное имя.</p><p>После регистрации, ваш сайт будет доступен по адресу yourclinic<strong>.healit.ru</strong>. </p> <p> В ходе настройки кабинета, вы сможете прикрепить любой свой домен.</p>'
                    },
                };
                this.message.title = map[type].label;
                this.message.text = map[type].text;
            }
        }
    }
</script>

<style scoped>
    h3 {
        color: #eaeaea;
    }

    h4 {
        color: #eaeaea;
    }
    span {
        font-size: 18px;
    }
    input{
        background: rgba(1,1,1,0.4);
        color: #fff;
    }
</style>