<template>
    <div>
        <div class="panel-body" id="chat">
            <ul class="chat">
                <li class="left clearfix" v-for="message in messages">
                    <div class="chat-body clearfix">
                        <div class="row">
                            <div class="col-xs-1">
                                <img v-bind:src="message.avatar" alt="avatar" style="max-width: 30px;"
                                     class="img img-responsive img-circle">
                            </div>
                            <div class="col-xs-11">
                                <div>
                                    <strong class="primary-font">
                                        {{ message.author }}
                                    </strong>
                                    <small v-if="moment().diff(moment(message.created_at),'days')>1">
                                        {{ moment(message.created_at).format('L') }}
                                    </small>
                                    <small v-else-if="moment().diff(moment(message.created_at),'minutes')>5">
                                        {{ moment(message.created_at).format('LT') }}
                                    </small>
                                    <small v-else>
                                        {{ moment(message.created_at).fromNow() }}
                                    </small>
                                </div>
                                <div v-if=message.text>
                                    <p>
                                        {{ message.text }}
                                    </p>
                                </div>
                                <div class="col-xs-4" v-for="file in message.files">
                                    <a v-if="file.type==='dicom'" :href="'/chat/dicom/'+ file.url"
                                       target="_blank">
                                        <span class="glyphicon glyphicon-th"></span>
                                    </a>

                                    <a v-else-if="file.type==='image'" :href="file.full_url" target="_blank">
                                        <img class="img-responsive" :src="file.full_url">
                                    </a>

                                    <a v-else :href="file.full_url" target="_blank">
                                        <span class="glyphicon glyphicon-cloud-download"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="panel-footer js-chat-footer">
            <div class="input-group">
        <span class="input-group-btn">
            <label class="btn btn-primary btn-sm">
                <input type="file" style="display: none" multiple @change="onFileChanged">
                <span class="glyphicon glyphicon-paperclip"></span>
            </label>
        </span>
                <input id="btn-input" type="text" name="message" class="form-control input-sm"
                       placeholder="вводите своё сообщение здесь..." v-model="newMessage" @keyup.enter="sendMessage">

                <span class="input-group-btn">
            <button class="btn btn-primary btn-sm" id="btn-send-message" @click="sendMessage">
                Отправить
            </button>
        </span>
            </div>
        </div>
        <div v-for="file in previewFiles" class="col-xs-4 panel-footer preview-item-container">
            <div class="preview-item"
                 v-bind:style="{ background: 'url(' + file.full_url + ') 0 0 / cover no-repeat' }">
                <button class="btn btn-danger btn-xs pull-right" v-if="file.id" @click="deleteImage(file.id,index)">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
                <div class="text-center" v-if="file.size">
                    <p>{{file.name}}</p>
                    <img src="/img/89.gif" style="max-width: 50px">
                </div>
                <div v-if="file.id && file.type !== 'image'">
                    <p>Файл загружен</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import moment from 'moment'

    Vue.prototype.moment = moment;
    moment.locale('ru');

    export default {
        props: ['group'],
        data() {
            return {
                messages: [],
                newMessage: '',
                selectedFiles: '',
                previewFiles: []
            }
        },
        created() {
            this.fetchMessages();
            Echo.channel('chat.' + this.group)
                .listen('MessageSent', (e) => {
                    console.log(e);
                    this.messages.push({
                        text: e.message.text,
                        user: e.message.user,
                        author: e.message.author,
                        avatar: e.message.avatar,
                        type: e.message.type,
                        url: e.message.url,
                        files: e.message.files,
                    });
                    this.$nextTick(
                        () => {
                            document.getElementById('chat').scrollTop = 99999;
                        }
                    )

                });
        },
        methods: {
            fetchMessages() {
                axios.get('/chat/check/' + this.group).then(response => {
                    this.messages = response.data.messages;
                    this.previewFiles = response.data.previewFiles;
                    this.$nextTick(
                        () => {
                            document.getElementById('chat').scrollTop = 99999;
                        }
                    )
                });

            },

            sendMessage() {
                var data = {
                    'text': this.newMessage,
                    'chat': this.group,
                    'previews': this.previewFiles
                };
                axios.post('/chat/add', data).then(response => {
                    this.messages.push(response.data);
                    this.$nextTick(
                        () => {
                            document.getElementById('chat').scrollTop = 99999;
                        }
                    )
                });
                this.newMessage = '';
                this.previewFiles = [];

            },
            moment: function (date) {
                return moment(date);
            },
            date: function (date) {
                return moment(date).format('MMMM Do YYYY, h:mm:ss a');
            },
            onFileChanged(event) {
                this.selectedFiles = event.target.files;
                const formData = new FormData();
                for (var i = 0; i < this.selectedFiles.length; i++) {
                    this.selectedFiles[i].index = i;
                    this.previewFiles.push(this.selectedFiles[i]);
                    formData.append('files[]', this.selectedFiles[i], this.selectedFiles[i].name);
                    //formData.append('indexes[]', this.selectedFiles[i], this.selectedFiles[i].name);
                }
                formData.append('chat_id', this.group);
                console.log(this.previewFiles);
                axios.post('/chat/document/add', formData).then(response => {
                    this.previewFiles = response.data;
                    for (var j = 0; j < response.data.length; j++) {
                        this.previewFiles[j] = response.data[j]
                    }
                    console.log(this.previewFiles);
                    this.$nextTick(
                        () => {
                            document.getElementById('chat').scrollTop = 99999;
                        }
                    )
                });
            },
            deleteImage(id, index) {
                axios.post('/chat/document/delete', {file_id: id}).then(response => {
                    if (response.data == 1) {
                        this.previewFiles.splice(index, 1);
                    } else (
                        console.log(response.data)
                    )
                });
            }
        },
        filters: {
            moment: function (date) {
                return moment(date).format('MMMM Do YYYY, h:mm:ss a');
            }
        }

    };
</script>
<style scoped>
    .preview-item-container {
        padding: 0 0 0 0;
        border-radius: 0 0 20px 20px;
    }

    .preview-item {
        min-height: 100px;
        background: #a7f7ff;
        padding: 10px;
        border-radius: 0 0 20px 20px;
        color: #653333;
        font-size: 15px;
        position: relative;
    }

    .preview-item img {
        margin: 25px 10px 10px 10px;
        max-width: 30px;
        max-height: 30px;
    }
</style>