<template>
    <form class="form-horizontal">
        <div class="form-group">
            <label for="name" class="col-md-4 control-label">ФИО *</label>

            <div class="col-md-6">
                <input id="name" type="text" class="form-control" v-model="user.name">
            </div>
        </div>

        <div class="form-group">
            <label for="age" class="col-md-4 control-label">Возраст *</label>

            <div class="col-md-6">
                <input id="age" type="number" class="form-control" v-model="user.age">

            </div>
        </div>

        <div class="form-group">
            <label for="date" class="col-md-4 control-label">Дата обращения *</label>
            <div class="col-md-6">
                <datepicker :monday-first="true" :input-class="'form-control'" id="date" v-model="history.date"
                            placeholder="Выберите дату"
                            :language="ru"></datepicker>
            </div>
        </div>

        <hr>

        <div class="form-group">
            <label for="complaint" class="col-md-4 control-label">Жалобы при поступлении *</label>
            <div class="col-md-6">
                <textarea id="complaint" class="form-control" v-model="history.complaint" autofocus></textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="primary_inspection" class="col-md-4 control-label">Результат первичного осмотра*</label>
            <div class="col-md-6">
                <textarea id="primary_inspection" class="form-control" v-model="history.primary_inspection"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="primary_diagnosis" class="col-md-4 control-label">Первичный диагноз *</label>
            <div class="col-md-6">
                <textarea id="primary_diagnosis" class="form-control" v-model="history.primary_diagnosis"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="final_diagnosis" class="col-md-4 control-label">Окончательный диагноз *</label>

            <div class="col-md-6">
                <textarea id="final_diagnosis" class="form-control" v-model="history.final_diagnosis"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="treatment" class="col-md-4 control-label">Назначенное лечение *</label>

            <div class="col-md-6">
                <textarea id="treatment" class="form-control" v-model="history.treatment"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="treatment_plan" class="col-md-4 control-label">План лечения</label>
            <div class="col-md-6">
                <textarea id="treatment_plan" class="form-control" v-model="history.treatment_plan"></textarea>
            </div>
        </div>

        <div v-for="index in additions">
            <div class="form-group">
                <label :for="'inspection_'+index" class="col-md-4 control-label">Осмотр {{index}}</label>
                <div class="col-md-6">
                        <textarea :id="'inspection_'+index" class="form-control"
                                  v-model="history.inspections[index]"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label :for="'adjustment_'+index" class="col-md-4 control-label">Корректировка лечения
                    {{index}}</label>
                <div class="col-md-6">
                        <textarea :id="'adjustment_'+index" class="form-control"
                                  v-model="history.treatment_adjustments[index]"></textarea>
                </div>
            </div>
            <div class="col-sm-offset-9">
                <button type="button" class="btn btn-danger btn-xs" @click="deleteAdd(index)">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </div>
            <hr>
        </div>

        <div class="form-group">
            <div class="col-md-4">
                <button class="btn btn-default btn-xs pull-right" type="button" @click="additions++">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
        </div>
        <hr>
        <div class="form-group">
            <label for="result" class="col-md-4 control-label">Эпикриз *</label>
            <div class="col-md-6">
                <textarea id="result" class="form-control" v-model="history.result"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6 col-md-offset-4">
                <button type="button" class="btn btn-primary" @click="saveHistory">
                    Сохранить
                </button>
            </div>
        </div>
    </form>
</template>

<script>
    import Datepicker from 'vuejs-datepicker';
    import {en, ru} from 'vuejs-datepicker/dist/locale'

    export default {
        components: {
            Datepicker
        },
        name: "add-disease-history",
        props: ['user', 'illness'],
        data() {
            return {
                url: '/doc/disease_history/save',
                history: {
                    inspections: [],
                    treatment_adjustments: [],
                    date: this.illness.created_at,
                },
                additions: 0
            }
        },
        methods: {
            saveHistory() {
                axios.post(this.url, {
                    history: this.history,
                    illness_id: this.illness.id,
                    user: this.user,
                }).then(response => {
                    let id=response.data.object.id;
                    location.href="/doc/disease_history/"+id;
                });
            },
            deleteAdd(index) {
                this.history.inspections.splice(index, 1);
                this.history.treatment_adjustments.splice(index, 1);
                this.additions--
            }
        }
    }
</script>

<style scoped>

</style>