<template>
    <form class="form-horizontal">

        <div class="form-group">
            <label for="complaint" class="col-md-4 control-label">Жалобы при поступлении *</label>
            <div class="col-md-6">
                <textarea id="complaint" class="form-control" v-model="history_arr.complaint" autofocus></textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="primary_inspection" class="col-md-4 control-label">Результат первичного осмотра*</label>
            <div class="col-md-6">
                <textarea id="primary_inspection" class="form-control"
                          v-model="history_arr.primary_inspection"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="primary_diagnosis" class="col-md-4 control-label">Первичный диагноз *</label>
            <div class="col-md-6">
                <textarea id="primary_diagnosis" class="form-control"
                          v-model="history_arr.primary_diagnosis"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="final_diagnosis" class="col-md-4 control-label">Окончательный диагноз *</label>

            <div class="col-md-6">
                <textarea id="final_diagnosis" class="form-control" v-model="history_arr.final_diagnosis"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="treatment" class="col-md-4 control-label">Назначенное лечение *</label>

            <div class="col-md-6">
                <textarea id="treatment" class="form-control" v-model="history_arr.treatment"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="treatment_plan" class="col-md-4 control-label">План лечения</label>
            <div class="col-md-6">
                <textarea id="treatment_plan" class="form-control" v-model="history_arr.treatment_plan"></textarea>
            </div>
        </div>
        <hr>
        <div v-for="index in additions">
            <div class="form-group">
                <label :for="'inspection_'+index" class="col-md-4 control-label">Осмотр {{index}}</label>
                <div class="col-md-6">
                        <textarea :id="'inspection_'+index" class="form-control"
                                  v-model="history_arr.inspections[index]"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label :for="'adjustment_'+index" class="col-md-4 control-label">Корректировка лечения
                    {{index}}</label>
                <div class="col-md-6">
                        <textarea :id="'adjustment_'+index" class="form-control"
                                  v-model="history_arr.treatment_adjustments[index]"></textarea>
                </div>
            </div>
            <div class="col-sm-offset-9">
                <button type="button" class="btn btn-danger btn-xs" @click="deleteAdd(index)">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </div>
            <hr>
        </div>

        <div class="form-group">
            <div class="col-md-4">
                <button class="btn btn-default btn-xs pull-right" type="button" @click="additions++">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
        </div>
        <hr>
        <div class="form-group">
            <label for="result" class="col-md-4 control-label">Эпикриз *</label>
            <div class="col-md-6">
                <textarea id="result" class="form-control" v-model="history.result"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6 col-md-offset-4">
                <button type="button" class="btn btn-primary" @click="saveHistory">
                    Сохранить
                </button>
            </div>
        </div>
        <div v-if="result" class="form-group">
            <div class="alert alert-info">{{result}}</div>
        </div>
    </form>
</template>

<script>
    export default {
        name: "edit-disease-history",
        props: ['history','id'],
        data() {
            return {
                url: '/doc/disease_history/edit',
                history_arr: this.history,
                additions: 0,
                result:''
            }
        },
        created() {
            if (this.history.inspections) {
                this.additions = this.history.inspections.length;
            }
        },
        methods: {
            saveHistory() {
                axios.post(this.url, {
                    text: this.history_arr,
                    id:this.id
                }).then(response => {
                    if (response.data.code == 0) {
                        this.result = "Сохранено"
                    } else {
                        this.result = "Ошибка при сохранении"
                    }
                });
            },
            deleteAdd(index) {
                this.history_arr.inspections.splice(index, 1);
                this.history_arr.treatment_adjustments.splice(index, 1);
                this.additions--
            }
        }
    }
</script>

<style scoped>

</style>