<template>
    <div>
        <p><strong>Участники чата</strong></p>
        <p>
            <span v-for="member in members_arr">{{member.name}}, </span>
        </p>
        <p><strong>Добавить к беседе</strong></p>
        <div class="input-group">
            <autocomplete
                    url="/doc/doctors/list"
                    anchor="name"
                    label="email"
                    id="email"
                    :options="[]"
                    :classes="{ wrapper: '', input: 'form-control', list: 'data-list', item: 'data-list-item' }"
                    :on-select="chooseDoctor">
            </autocomplete>
            <span class="input-group-btn">
        <button class="btn btn-primary" @click="attachDoctors">
               <span class="glyphicon glyphicon-arrow-right"></span>
        </button>
        </span>
        </div>
        <!--
        <p class="text-center">Пригласить  по email:</p>

        <div class="form-group">
            <input class="form-control" type="text" name="name" value=""
                   placeholder="Ф И О Доктора">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="email" value=""
                   placeholder="email">
        </div>
        <input type="hidden" name="chat_id" value="">
        <input type="hidden" name="invitor" value="">
        -->
        <p class="text-info" v-if="result">{{result}}</p>
    </div>
</template>

<script>
    import Autocomplete from 'vue2-autocomplete-js';

    export default {
        components: {Autocomplete},
        name: "invite-chat",
        props: ['members', 'chat_id'],
        data() {
            return {
                members_arr: this.members,
                new_members: [],
                result: ''
            }
        },
        methods: {
            chooseDoctor(obj) {
                let check_name = this.members_arr.filter(member => member.id === obj.id);
                if (check_name.length === 0) {  // Если в массиве такого ID юзера еще нет - добавляем
                    this.members_arr.push(obj);
                    this.new_members.push(obj.id);
                }

            },
            attachDoctors() {
                axios.post('/doc/request/add_member', {
                    members: this.new_members,
                    chat_id: this.chat_id
                }).then(response => {
                    if (response.data.code == 0) {
                        this.result = 'Добавление прошло успешно'
                    } else {
                        this.result = 'Ошибка!'
                    }
                });
            }
        }
    }
</script>

<style scoped>

</style>