$background_color: #4a76a8;

/* Шаблон */
html {
  position: relative;
  min-height: 100vh;
}

body {

  background: -webkit-radial-gradient(#5e8eff, #bbffde, #31708f); /* Safari 5.1-6.0 */
  background: -o-radial-gradient(#5e8eff, #bbffde, #31708f); /* Opera 11.6-12.0 */
  background: -moz-radial-gradient(#5e8eff, #bbffde, #31708f); /* Firefox 3.6-15 */
  background: radial-gradient(#5e8eff, #bbffde, #31708f); /* Стандартный синтаксис */
  background: -webkit-radial-gradient(70% 10%, farthest-side, #5e8eff, #bbffde, #31708f); /* Safari 5.1-6.0 */
  background: -o-radial-gradient(70% 10%, farthest-side, #5e8eff, #bbffde, #31708f); /* Opera 11.6-12.0 */
  background: -moz-radial-gradient(70% 10%, farthest-side, #5e8eff, #bbffde, #31708f); /* Firefox 3.6-15 */
  background: radial-gradient(farthest-side at 70% 10%, #5e8eff, #bbffde, #31708f); /* Стандартный синтаксис */

  @media (max-width: 768px) {
    form {
      input {
        font-size: 16px !important;
      }
    }
  }
  margin: 0;
  padding: 0;

  .nav-side-menu {
    overflow: auto;
    font-family: verdana;
    font-size: 12px;
    font-weight: 200;
    background-color: #2e353d;
    position: fixed;
    top: 0;
    width: 16.666666667%;
    height: 100%;
    color: #e1ffff;
    .menu-list{
      margin-left:10px;
    }
    .contacts{
      margin-left: 10px;
      margin-right: 10px;
      position: absolute;
      bottom: 30px;
    }
  }
  .nav-side-menu .brand {
    background-color: #23282e;
    line-height: 50px;
    display: block;
    text-align: center;
    font-size: 14px;
  }
  .nav-side-menu .toggle-btn {
    display: none;
  }
  .nav-side-menu ul,
  .nav-side-menu li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 35px;
    cursor: pointer;
    /*
      .collapsed{
         .arrow:before{
                   font-family: FontAwesome;
                   content: "\f053";
                   display: inline-block;
                   padding-left:10px;
                   padding-right: 10px;
                   vertical-align: middle;
                   float:right;
              }
       }
  */
  }
  .nav-side-menu ul :not(collapsed) .arrow:before,
  .nav-side-menu li :not(collapsed) .arrow:before {
    font-family: FontAwesome;
    content: "\f078";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    float: right;
  }
  .nav-side-menu ul .active,
  .nav-side-menu li .active {
    border-left: 3px solid #d19b3d;
    background-color: #4f5b69;
  }
  .nav-side-menu ul .sub-menu li.active,
  .nav-side-menu li .sub-menu li.active {
    color: #d19b3d;
  }
  .nav-side-menu ul .sub-menu li.active a,
  .nav-side-menu li .sub-menu li.active a {
    color: #d19b3d;
  }
  .nav-side-menu ul .sub-menu li,
  .nav-side-menu li .sub-menu li {
    background-color: #181c20;
    border: none;
    line-height: 28px;
    border-bottom: 1px solid #23282e;
    margin-left: 0px;
  }
  .nav-side-menu ul .sub-menu li:hover,
  .nav-side-menu li .sub-menu li:hover {
    background-color: #020203;
  }
  .nav-side-menu ul .sub-menu li:before,
  .nav-side-menu li .sub-menu li:before {
    font-family: FontAwesome;
    content: "\f105";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
  }
  .nav-side-menu li {
    padding-left: 0px;
    border-left: 3px solid #2e353d;
    border-bottom: 1px solid #23282e;
    img{
      max-width:35px;
    }
  }
  .nav-side-menu li a {
    display: block;
    width:100%;
    text-decoration: none;
    color: #e1ffff;
  }
  .nav-side-menu li a i {
    padding-left: 10px;
    width: 20px;
    padding-right: 20px;
  }
  .nav-side-menu li:hover {
    border-left: 3px solid #d19b3d;
    background-color: #4f5b69;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }
  @media (max-width: 992px) {
    .nav-side-menu {
      position: relative;
      width: 100%;
      margin-bottom: 10px;
    }
    .nav-side-menu .toggle-btn {
      display: block;
      cursor: pointer;
      position: absolute;
      right: 10px;
      top: 10px;
      z-index: 10 !important;
      padding: 3px;
     // background-color: #ffffff;
      color: #000;
      width: 40px;
      text-align: center;
    }
    .brand {
      text-align: left !important;
      font-size: 22px;
      padding-left: 20px;
      line-height: 50px !important;
    }
  }
  @media (min-width: 767px) {
    .nav-side-menu .menu-list .menu-content {
      display: block;
    }
  }
  .setrole {
    /*text-align: center;*/
    padding-top: 30px;
    margin-top: 50px;
    font-size: 150%;
    form {
      margin-top: 15px;
      text-align: center;
    }
  }
  .getemail {
    margin-top: 120px;
  }
}

/* Общее */
.status-holiday {
  color: #78341a;
}

.status-offline {
  color: #9b8a30;
}

.status-online {
  color: #2b542c;
}

.btn-file {
  min-width: 100px;
  margin-top: 5px;
}

.btn-delete {
  margin-left: 20px;
}

ul {
  li {
    margin: 10px;
  }
}

@media (max-width: 375px) {
  ul li {
    margin: 0;
  }
}

.ui-autocomplete {
  width: 300px;
}

.ui-menu-item {
  margin-top: 10px;
  cursor: pointer;
}

.register {
  .panel {
    margin-top: 80px;
    .chooseRole {
      .register-btn-bg {
        padding: 0;
        a {
          color: snow;
          .roleButton {
            width: 100%;
            height: 300px;
            padding: 5px;
            background: rgba(1,1,1,0.5);
            &:hover {
              background: rgba(255, 255, 255, 0.3);
              color:black;
            }
            &:focus {
              background:rgba(255, 255, 255, 0.3);
              color:black;
            }
          }
          &:hover {
            text-decoration: none;
          }
          &:focus {
            text-decoration: none;
          }
        }
        &.user{
          background: url(/img/doctors/patient.jpg) no-repeat 90% 0%/cover;
        }
        &.doc{
          background: url(/img/doctors/d2.jpg) no-repeat 90% 0%/cover;
        }
        &.admin{
          background: url(/img/doctors/admin.jpg) no-repeat 90% 0%/cover;
        }
      }
    }
  }
}