#healit-landing {
  #preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #0f1e2f url('https://psdwizard.com/uploads/dribbble-loader-green.gif') no-repeat center center;
  }
  font-family: 'Muller', sans-serif;
  header {
    position: fixed;
    width: 100%;
    z-index: 10;
    .navbar-healit {
      background-color: rgba(1, 1, 1, 0.1);
      border: none;
      .container {
        img {
          margin: 5px;
          width: 70px;
        }
        .nav {
          li {
            a {
              font-size: 24px;
              color: #f9f9f9;
              &:hover {
                background-color: rgba(1, 1, 1, 0.3);
                color: #fff;
              }
            }
          }
        }
        .navbar-collapse {
          li {
            margin-bottom: 20px;
            text-align: center;
            a {
              color: #fff;
              font-size: 20px;
              width: 100%;
            }
          }
        }
      }
      &.active {
        background-color: rgba(1, 1, 1, 0.9);
        transition: .5s;
      }
    }
  }

  #section_1 {
    @media (max-width: 1023px) {
      background-color: rgba(1, 1, 1, 0.6);
    }
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      @media (max-width: 767px) {

        align-items: center;
        text-align: center;
      }
      min-height: 100vh;
      padding-top: 70px;
      padding-bottom: 70px;
      color: #fff;
      @media (min-width: 768px) {
        padding-top: 100px;
        padding-bottom: 100px;
      }
      @media (min-width: 1024px) {
        padding-top: 165px;
        padding-bottom: 165px;
        h4 {
          margin-bottom: 50px;
          font-size: 24px;
        }
        h2 {
          margin-bottom: 60px;
          font-size: 40px;
        }
        h3 {
          margin-bottom: 50px;
        }
      }
      $hover: #cc890a;;
      $border-width: 4px;
      .main-button {
        text-align: center;
        padding: 1em 2em;
        display: inline-block;
        background: none;
        border: none;
        // backface-visibility: hidden
        font-size: 1.5em;
        font-weight: 600;
        font-family: inherit;
        letter-spacing: .05em;
        text-transform: uppercase;
        text-decoration: none;
        color: #F5F5F5;
        transition: color .2s;
        box-shadow: inset 0 0 0 $border-width #F5F5F5, 0 0 1px 1px rgba(black, .25);
        text-shadow: 0 0 2px rgba(black, .5);
        position: relative;
        overflow: hidden;
        transform: translateZ(0);
        cursor: pointer !important;
        max-width: 220px;
        &:before, &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          border: $border-width solid transparent;
          will-change: transform;
          transition: transform .3s ease;
          pointer-events: none;
          transform: translateZ(0);
        }
        &:before {
          border-color: $hover transparent;
          transform: skew(-81deg, 0);
        }
        &:after {
          border-color: transparent $hover;
          transform: skew(0, 40deg);
          transition: transform .4s;
        }
        &:hover {
          color: $hover;
          &:before, &:after {
            transform: skew(0, 0)
          }
        }
      }
    }
    video {
      padding: 0;
      max-width: 100%;
      position: absolute;
      top: 0;
      left: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(0%);
      min-width: 100%;
      /*  min-height: 100%;*/
      height: auto;
      z-index: -1000;
      overflow: hidden;
      margin: 0;
      object-fit: fill;

    }
  }
  #section_2 {
    h1 {
      font-size: 40px;
    }
    .w-bg {
      background-color: #fff;
    }
    .container {
      padding-top: 70px;
      padding-bottom: 70px;
    }
    .features {
      .row {
        position: relative;
        margin-top: -110px;
        display: flex;
        flex-wrap: wrap;
        margin-right: 0;
        margin-left: 0;
        overflow: hidden;
        border-radius: 10px;
        padding: 20px;
        .blur {
          background: black;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          filter: blur(3px);
          -webkit-filter: blur(30px);
          -moz-filter: blur(30px);
          -o-filter: blur(30px);
          -ms-filter: blur(30px);
        }
      }
      .p-0 {
        padding: 0;
        margin-bottom: 50px;
        @media (max-width: 768px) {
          width: 100%;
        }
      }
      a {
        margin-top: 30px;
      }
      .feature {
        margin-top: 30px;
        font-size: 18px;
        color: #fff;
        p {
          visibility: hidden;
          &:hover {
            font-weight: 800;
          }
        }
        &.m-t {
          @media (min-width: 992px) {
            margin-top: 50%;
          }
        }
        @media (max-width: 991px) {
          text-align: center;
        }
      }
    }
  }

  #section_3 {
    background-color: #fff;
    .container {
      padding-top: 70px;
      padding-bottom: 70px;
      h1 {
        margin-bottom: 35px;
      }
      .tariff {
        position: relative;
        background-color: #062333;
        padding: 10px 20px 10px 20px;
        color: #fff;
        border-radius: 14px;
        height: 630px;
        h4 {
          margin-top: 25px;
          margin-bottom: 25px;
          font-size: 24px;
        }
        ul {
          font-size: 18px;
          li {
            visibility: hidden;
            img {
              max-width: 20px;
            }
          }
        }
        margin-bottom: 30px;
        @media (min-width: 992px) {
          margin-bottom: 0;
        }
        .btnflip {
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 90%;
          height: 60px;
          text-align: center;
          transform-style: preserve-3d;
          perspective: 1000px;
          transform-origin: center center;
        }
        .btnflip-item {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          text-align: center;
          line-height: 60px;
          font-size: 24px;
          background-color: rgba(255, 255, 255, .05);
          transform-style: preserve-3d;
          backface-visibility: hidden;
          border-radius: 30px;
          text-transform: uppercase;
          color: #fff;
          transition: 1s;
        }
        .btnflip-item.btnflip__front {
          transform: rotateX(0deg) translateZ(20px);
        }
        .btnflip:hover .btnflip-item.btnflip__front {
          transform: rotateX(-180deg) translateZ(20px);
        }
        .btnflip-item.btnflip__back {
          transform: rotateX(180deg) translateZ(20px);
        }
        .btnflip:hover .btnflip-item.btnflip__back {
          transform: rotateX(0deg) translateZ(20px);
        }
        .btnflip-item.btnflip__center {
          background: linear-gradient(to left, #1a46c3, #1a00a7);
        }
        .btnflip-item.btnflip__center::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(to left, #878dc3, #1a46c3);
          border-radius: 30px;
          transform: translateZ(-1px);
        }
        .btnflip:hover .btnflip-item.btnflip__center {
          transform: rotateX(-180deg);
        }
      }
    }
  }

  #section_4 {
    background: url(/img/register_bg.jpg) no-repeat 90% 0%/cover;
    .container {
      padding-top: 70px;
      padding-bottom: 70px;
      color: #fff;
      h1 {
        color: #fff;
        margin-bottom: 35px;
      }
      form {
        font-size: 22px;
        span {
          color: #ff8a00;
          background: rgba(1, 1, 1, 0.4);
        }
        button {
          border-radius: 0 20px 20px 0;
          padding: 10px 20px;
          font-size: 20px;
          background: none;
          border: 2px solid #ff8a00;
          color: #ff8a00;
          font-weight: 800;
          &:hover {
            background: #d27200;
            border: 2px solid #795e00;
            color: #002d46;
          }
          &:active {
            transform: scale(0.9);
            background-color: darken(#d27200, 5%);
            box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
          }
        }
        strong{
          color:#ff8a00;
        }
      }
      small {
        font-size: 16px;
      }
      .vue-description{
        strong{
          color:#ff8a00;
        }
      }
    }
  }

  footer {
    background-color: rgba(1, 1, 1, 0.9);
    color: #fff;
    a {
      color: #fff;
    }
  }

}