/* Главный лендинг */
.landing {
  margin-bottom: 0;
  .left-border{
    border: solid;
    border-width: 0 0 0 1px;
    border-color: #f96257;
  }
  .red{
    color:#f96257;
  }
  .btn-signin {
    min-width: 230px;
    background: #4b4149;
    border-width: 1px 4px 3px 1px;
    border-color: #655962;
    margin-top: 35px;
    border-radius: 0;
    color: #f96257;
    font-size: 20px;
    padding: 12px 36px 12px 36px;
  }
  .uppercase{
    text-transform: uppercase;
  }
  .animated {
    visibility: hidden;
  }
  .l-header {
    background: #536b5d;
    .menu {
      margin-left: 15%;
      a {
        color: snow;
      }
    }
  }
  .section1 {
    background: url(/img/landing/sector_1.jpg) no-repeat 90% 0%/cover;
    box-shadow: inset 0 0 1em #333, 0 0 1em #777;
    padding-bottom: 50px;

    min-height: 400px;
    .s1-content {
      text-align: justify;
      margin-top: 10px;
      h3 {
        margin-left: 35px;
      }
    }
  }
  @media (max-width: 1024px) {
    .section1 {
      background: url(/img/landing/sector_1.jpg) no-repeat 30% 0%/cover;
    }
  }
  @media (max-width: 767px) {
    .btn-xs-150 {
      width: 150px;
    }
    .section1 {
      background: url(/img/landing/sector_1.jpg) no-repeat 23% 0%/cover;
      .headers {
        position: inherit;
      }
      .s1-content {
        text-align: left;
        color: black;
      }
    }
  }

  @media (max-width: 375px) {
    ul {
      font-size: 90%;
    }
  }
  .section2 {
    h1 {
      text-align: center;
      margin: 0;
      padding-top: 80px;
    }
    h2 {
      text-align: center;
      padding-top: 80px;
      margin-bottom: 25px;
    }
    .item {
      margin-top: 50px;
      margin-bottom: 50px;
    }
    h4{
      margin-top: 30px;
      margin-bottom: 30px;
      margin-left: 10px;
    }
  }
  .section3 {
    .slick-item {
      min-height: 400px;
      .item-text {
        color: snow;
        margin-top: 100px;
        margin-left: 50px;
      }

    }
    .item_1 {
      background: url(/img/landing/4oeq2_2.jpg) no-repeat 50% 50%/cover;
    }
    .item_2 {
      background: url(/img/landing/6xkv7_2.jpg) no-repeat 50% 50%/cover;
    }
    .item_3 {
      background: url(/img/landing/b5m7i_2.jpg) no-repeat 50% 50%/cover;
    }
    .item_4 {
      background: url(/img/landing/gpdv1_2.jpg) no-repeat 50% 50%/cover;
    }
  }

  .section4 {
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: left;
    h2{
      margin-bottom: 35px;
    }
    h3 {
      text-align: center;
    }
    ul {
      float: right;
      li {

        list-style-type: none;
        font-weight: 600;
        padding-left: 10px;
        padding-right: 10px;
        .icon-box {

        }
        .icon-ok {
          position: relative;
          top: -20px;
          left: 5px;
        }
      }
    }
  }

  .section5 {
    background: #c3e3d8;
    box-shadow: inset 0 0 1em #333, 0 0 1em #777;
    text-align: center;
    img {
      margin-top: 30px;
      margin-bottom: 20px;
      width: 90px;
    }
  }

  .section6 {
    text-align: center;
    background: #c3e3d8;
    padding: 50px;
    box-shadow: inset 0 0 1em #333, 0 0 1em #777;

  }
  .section7 {
    min-height: 50px;
    padding: 25px;
  }
  .section8 {
    background: #6a9685;
    box-shadow: inset 0 0 1em #333, 0 0 1em #777;
    padding: 20px;
    text-align: center;
    ul {
      li {
        list-style-type: none;
        color:snow;
        span{
          color:inherit;
        }
        a {
          color: snow;
        }
      }
    }
    img {
      max-height: 100px;
    }
  }
  /* CLINIC - LANDING */
  .clinic-plans {
    background-color: #fbfbfb;
    box-shadow: 0 3px 12px 3px rgba(0, 0, 0, .5);
    border-radius: 20px;
    .panel-body{
      background: #edf2ff;
      border-radius: 20px;
    }
  }
}