
// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Variables
@import "variables";
@import "jquery-ui.theme.min.css";
@import "jquery.timepicker.min.css";
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$icon-font-path: '/css/fonts/';

.btn, .datepicker table, .slick-slider {
  -webkit-user-select: none;
  -ms-user-select: none;
}

.btn, .btn-danger.active, .btn-danger:active, .btn-default.active, .btn-default:active, .btn-info.active, .btn-info:active, .btn-primary.active, .btn-primary:active, .btn-warning.active, .btn-warning:active, .btn.active, .btn:active, .dropdown-menu>.disabled>a:focus, .dropdown-menu>.disabled>a:hover, .form-control, .navbar-toggle, .open>.btn-danger.dropdown-toggle, .open>.btn-default.dropdown-toggle, .open>.btn-info.dropdown-toggle, .open>.btn-primary.dropdown-toggle, .open>.btn-warning.dropdown-toggle {
  background-image: none;
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: normal;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.6;
  border-radius: 5px;
  -moz-user-select: none;
  user-select: none;
}
.btn-primary {
  color: #fff;
  background-color: #06b1ff;
  border-color: #00a2ec;
  box-shadow: 0 5px 15px -5px #06b1ff;
}
.btn-info {
  color: #fff;
  background-color: #487fa0;
  border-color: #487fa0;
  box-shadow: 0 5px 15px -5px #487fa0;;
}
.btn-success {
  color: #fff;
  background-color: #2ab27b;
  border-color: #2ab27b;
  box-shadow: 0 5px 15px -5px #2ab27b;
}
.btn-default{
  border: 1px solid;
}
.btn-danger {
  color: #fff;
  background-color: #bf5329;
  border-color: #bf5329;
  box-shadow: 0 5px 15px -5px #bf5329;
}
.btn-xs{
  padding: 1px 5px;
  font-size: 12px;
}
.btn-sm{
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.label{
  box-shadow: 0 5px 15px -5px rgba(52, 52, 52, 0.43);
}

.autocomplete-list{
  ul{
    padding: 10px;
    z-index: 10;
    overflow-y: scroll;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 95%;
  }
}
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .3s ease;
}
.slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active до версии 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}