@import "common";
@import "landing";
@import "healit";
@import "customs";

/* Авторизация */
.login {
  .login-form {
    margin-top: 120px;
  }
}

/* Домашняя */
.home {

  .btn-note {
    position: relative;
    left: 5%;
    margin-left: 10px;
    margin-top: 5px;
  }
  .btn-doc {
    width: 100%;
    text-align: justify;
    color: #636b6f;
  }
  .note {
    margin-top: 15px;
  }
  .table-btn {
    color: inherit;

  }
  .table-btn:hover {
    color: black; /* Цвет ссылки при наведении на нее курсора мыши */
    text-decoration: underline; /* Добавляем подчеркивание */
  }

  a {
    /*color: inherit;*/
    cursor: pointer;
  }
  .btn-requests {
    width: 95%;
    color: inherit;
    cursor: pointer;
    font-size: 16px;
    text-align: left;
    margin-left: 10px;
    line-height: 1.5;
    border: solid;
    border-radius: 0;
    border-width: 0 0 1px 0;
  }
  .patiens {
    border-width: 1px;
    border: solid;
    border-radius: 50px;
    margin: 10px 40px 10px 40px;
    color: #3a4c6f;
    border-color: #3a4c6f;
    font-weight: 700;
    background: #f3f3f387;
    min-height: 120px;
    h3 {
      font-weight: 700;
    }
  }
  .chats {
    border-width: 1px;
    border: solid;
    border-radius: 50px;
    margin: 10px 40px 10px 40px;
    color: #0d6f47;
    border-color: #0d6f47;
    font-weight: 700;
    background: #f3f3f387;
    min-height: 120px;
    h3 {
      font-weight: 700;
    }
  }
  .list {
    ol {
      margin: 25px 10px 10px 10px;
      li {
        padding: 5px 0 5px 10px;
        font-weight: 700;
        font-size: 15px;
        a {
          color: inherit;
        }
      }
    }
  }
}

/* Обращение */
.request {
  .documents-list {
    a {
      color: #636b6f;
    }
  }
  .son {
    height: 100px;
    border: 1px solid;
    display: inline-block;
  }
  .request-toolbar {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .btn-group {
    border-width: 0 1px 0 0;
    border-color: #5aabd5;
    margin-bottom: 30px;
  }
  .btn-group:last-child {
    border: none;
  }
  .btn-group.active {
    background-color: #5aabd5;
  }
  @media (max-width: 767px) {
    .btn-sm {
      width: 100%;
    }
    .btn-default {
      width: 150px;
    }
    .son {
      height: 100px;
      border: 1px solid;
      display: inline-block;
    }
    .payments-table {
      color: inherit;
      cursor: auto;
      text-decoration: none;
    }
  }
  .rating-form {
    .rating-plus {
      color: #008700;
      font-size: 20px;
      font-weight: 300;
    }
    .rating-minus {
      color: #aa0000;
      font-size: 20px;
      font-weight: 300;
    }
    .checked {
      font-size: 28px;
      font-weight: 700;
    }
    #rating_plus {
      visibility: hidden;
    }
    #rating_minus {
      visibility: hidden;
    }
  }
}

/* Чаты */

.td-menu {
  display: inline-grid;
}

#js-chat {
  @media (max-width: 767px) {
    padding: 0;
    margin-left: -15px;
    margin-right: -15px;
  }
  input {
    font-size: 16px;
  }
  .chat {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
  }

  .chat li .chat-body p {
    margin: 0;
    color: #777777;
  }

  .panel-body {
    overflow-y: scroll;
    height: 350px;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
  }

  ::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
  }

  ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
  }
}

#videos {
  position: relative;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;

}

#publisher {
  position: absolute;
  width: 360px;
  height: 240px;
  bottom: 10px;
  left: 10px;
  z-index: 100;
  border: 3px solid white;
  border-radius: 3px;
  top: 0;
  margin-top: 10px;
}

@media (max-width: 767px) {
  #videos {
    .row {
      div {
        height: 237px;
      }
    }
  }
  #publisher {
    position: absolute;
    top: 0;
    width: 66px;
    height: 66px;
    bottom: 10px;
    left: 10px;
    z-index: 100;
  }
}

@media (max-width: 767px) {
  .chats {
    .btn-chat {
      width: 100%;
      text-align: justify;
      color: #636b6f;
      padding: 5px; /* Поля вокруг текста */

    }
    .chats-list {
      white-space: nowrap; /* Запрещаем перенос строк */
      overflow: hidden; /* Обрезаем все, что не помещается в область */
      text-overflow: ellipsis; /* Добавляем многоточие */
      max-width: 200px;
    }
  }
}

/* Заявки */
.requests {
  @media (max-width: 768px) {
    .table {
      border: none;
      a {
        border-radius: 0;
      }
    }
  }
  .table-btn {
    color: inherit;

  }
  .table-btn:hover {
    color: black; /* Цвет ссылки при наведении на нее курсора мыши */
    text-decoration: underline; /* Добавляем подчеркивание */
  }
  .btn-requests {
    width: 100%;
    text-align: justify;
    color: #636b6f;
    padding: 5px;
    min-height: 45px;
    border: 1px solid;
  }
}

/*  Список Чаты */
.chats {
  .table-btn {
    color: inherit;

  }
  .table-btn:hover {
    color: black; /* Цвет ссылки при наведении на нее курсора мыши */
    text-decoration: underline; /* Добавляем подчеркивание */
  }
}

/* Помощник */
.helper {
  .note {
    margin-top: 15px;
  }
  .note:hover {
    text-shadow: 0 1px 1px black;
  }
  .btn-fixed {
    position: fixed;
    top: 15%;
    left: 30%;
    z-index: 10;
  }
}

/* Профиль врача */
.account {
  .status {
    margin-top: 15px;
    @media (min-width: 767px) {
      .status-time {
        margin-left: 15px;
      }
    }
  }
  @media (max-width: 768px) {
    .btn-delete {
      margin: 0;
    }
  }
  .yandex-account {
    margin-top: 20px;
  }
  code {
    word-wrap: break-word;
  }
  .black-list {
    li {
      margin-bottom: 10px;
      a {
        margin-left: 10px;
      }
    }
  }
}

/* Все врачи */
.doctors {
  table {
    a {
      color: inherit;
    }
  }
}

@media (max-width: 767px) {
  .doctors {
    .btn-doc {
      width: 100%;
      text-align: left;
    }
  }
}

/* История болезни */
.history {
  .btn-request {
    width: 100%;
    text-align: justify;
    color: #636b6f;
  }
}

/* Лендинг врача */
.doctorPage {
  .avatar {
    max-width: 300px;
    a {
      margin: 20px;
    }
  }
  .profile {
    margin-top: 100px;
  }
}

/* DICOM */
.dwv-border {
  border: 2px solid black; /* Параметры границы */
}

.dcm-toolbar {
  margin-top: 15px;
}

.toolbar {
  margin-top: 30px;
  text-align: left;
  button {
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  .dcm-toolbar {
    margin-top: 15px;
  }

  .toolbar {
    margin: 0;
    button {
      margin: 3px;
    }
  }

  .dwv-border {
    max-width: 100%;
    border: none;
    canvas {
      max-width: 100%;
    }
  }
}

/* АДМИН */
.admin {
  margin-top: 30px;
  .container-fluid {
    margin-top: 30px;
  }
  .admin-emails {
    .result-email-template {
      .template-item {
        margin-bottom: 10px;
        .selected {
          outline: dotted 1px gray;
        }
      }
      min-height: 400px;
      border: solid 1px black;
      padding: 15px;
      p {
        cursor: pointer;
      }
      h3 {
        cursor: pointer;
      }
      a {
        cursor: pointer;
      }
      .strong {
        font-weight: 700;
      }
      .cursive {
        font-style: italic;
      }
    }
    .pick-color {
      padding-left: 10px;
      padding-right: 5px;
      .color-item {
        padding: 0;
      }
      label {
        width: 22px;
        height: 22px;
        margin: 1px;
        cursor: pointer;
        border: solid 1px gray;
        box-shadow: 0px 1px 5px -1px grey;
      }
      input {
        display: none;
      }
    }
    .hide-input {
      input {
        display: none;
      }
    }
    .right-border {
      border: solid gray;
      border-width: 0 1px 0 0;
    }
  }
  .admin-templates {
    .template {
      margin-bottom: 30px;
      padding: 15px;
      border: solid 1px black;
    }
  }
}