<template>
    <ul class="chat">
        <li class="left clearfix" v-for="message in messages">
            <div class="chat-body clearfix">
                <div class="row">
                    <div class="col-xs-1">
                        <img v-bind:src="'/storage/'+message.avatar" alt="avatar" style="max-width: 30px;"
                             class="img img-responsive img-circle">
                    </div>
                    <div class="col-xs-11">
                        <div>
                            <strong class="primary-font">
                                {{ message.author }}
                            </strong>
                            <small v-if="moment().diff(moment(message.created_at),'days')>1">
                                {{ moment(message.created_at).format('L') }}
                            </small>
                            <small v-else-if="moment().diff(moment(message.created_at),'minutes')>5">
                                {{ moment(message.created_at).format('LT') }}
                            </small>
                            <small v-else>
                                {{ moment(message.created_at).fromNow() }}
                            </small>
                        </div>
                        <div v-if="message.type=='text'">
                            <p>
                                {{ message.text }}
                            </p>
                        </div>

                        <div v-else-if="message.type=='dicom'">
                            <a v-bind:href="'/chat/dicom/'+ message.url" target="_blank">
                                <span class="glyphicon glyphicon-th"></span> {{message.text}} </a>
                        </div>

                        <div v-else-if="message.type=='image'">
                            <a v-bind:href="'/storage/'+message.url" target="_blank">
                                <span class="glyphicon glyphicon-picture"></span> {{message.text}}</a>
                        </div>

                        <div v-else>
                            <a v-bind:href="'/storage/'+message.url" target="_blank">
                                <span class="glyphicon glyphicon-cloud-download"></span>{{message.text}} </a>
                        </div>

                    </div>
                </div>
            </div>
        </li>
    </ul>
</template>

<script>
    export default {
        props: ['messages']
    };
</script>