<template>
    <div class="input-group">
        <span class="input-group-btn">
            <button class="btn btn-primary btn-sm" id="btn-send-document" data-toggle="modal"
                    data-target="#addDocument">
                <span class="glyphicon glyphicon-paperclip"></span>
            </button>
        </span>
        <input id="btn-input" type="text" name="message" class="form-control input-sm"
               placeholder="вводите своё сообщение здесь..." v-model="newMessage" @keyup.enter="sendMessage">

        <span class="input-group-btn">
            <button class="btn btn-primary btn-sm" id="btn-send-message" @click="sendMessage">
                Отправить
            </button>
        </span>
    </div>
</template>

<script>
    export default {
        props: ['user', 'group', 'author'],

        data() {
            return {
                newMessage: ''
            }
        },

        methods: {
            sendMessage() {
                this.$emit('messagesent', {
                    user: this.user,
                    text: this.newMessage,
                    chat: this.group,
                    author: this.author,
                    type:'text'
                });

                this.newMessage = ''
            }
        }
    }
</script>