<template>
    <div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Добавить адресата
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="email">Найти пациента</label>
                        <autocomplete
                                url="/admin/emails/book/users"
                                anchor="name"
                                label="email"
                                id="email"
                                :options="[]"
                                :classes="{ wrapper: 'form-group', input: 'form-control', list: 'data-list', item: 'data-list-item' }"
                                :on-select="getData">
                        </autocomplete>
                    </div>
                    <div class="form-group">
                        <label for="patient-group">Добавить группу пациентов</label>
                        <select id="patient-group" class="form-control" v-model="filter" v-on:change="getUserGroup">
                            <optgroup label="Новые пациенты">
                                <option value="last_day">За последние сутки</option>
                                <option value="last_week">За последнюю неделю</option>
                                <option value="last_month">За последний месяц</option>
                            </optgroup>
                            <option value="with_payment">Пациенты с оплатой</option>
                            <option value="without_consultation">Пациенты без консультаций</option>
                        </select>
                        <p class="text-muted">Будет добавлено {{this.selectedUserGroup.length}} пациентов.</p>
                    </div>
                    <button class="btn btn-primary btn-xs" @click="addUserGroup">Добавить</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Контакты в книге
                </div>
                <div class="panel-body">
                    <ul class="list-group" v-if="contacts || newContacts.length>0">
                        <li class="list-group-item list-group-item-warning" v-for="contact in newContacts">
                            {{contact.email}}
                            <button class="btn btn-danger btn-xs" @click="deleteContact(contact)"><span
                                    class="glyphicon glyphicon-trash"></span></button>
                        </li>
                        <li class="list-group-item" v-bind:class="{ 'item-deleted': isContactDeleted(contact) }"
                            v-for="contact in currentContacts">
                            {{contact.email}}
                            <button class="btn btn-danger btn-xs" @click="deleteContact(contact)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </li>
                    </ul>
                    <button class="btn btn-primary btn-xs" v-if="newContacts.length>0 || deletedContacts.length>0"
                            @click="saveContacts">
                        Сохранить изменения
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Autocomplete from 'vue2-autocomplete-js';

    export default {

        components: {Autocomplete},
        props: ['contacts', 'book'],
        data() {
            return {
                currentContacts: this.contacts,
                newContacts: [],
                filter: "",
                selectedUserGroup: [],
                deletedContacts: []
            }
        },
        methods: {
            getData(obj) {
                this.newContacts.push(obj);
            },
            getUserGroup() {
                axios.post('/admin/emails/book/users', {'filter': this.filter}).then(response => {
                    this.selectedUserGroup = response.data;

                });
            },
            addUserGroup() {
                for (var i = 0; i < this.selectedUserGroup.length; i++) {
                    this.newContacts.push(this.selectedUserGroup[i]);
                }
            },
            saveContacts() {
                axios.post('/admin/emails/book/sync', {
                    'book': this.book,
                    'new': this.newContacts,
                    'deleted': this.deletedContacts
                }).then(response => {
                    if (response.data === 1) {
                        console.log('OK');
                        for (var i = 0; i < this.newContacts.length; i++) {
                            try {
                                if (this.currentContacts.length > 0) {
                                    this.currentContacts.unshift(this.newContacts[i]);
                                } else {
                                    this.currentContacts.push(this.newContacts[i]);
                                }
                            } catch (err) {

                                console.log(err)

                            }

                        }
                        this.newContacts = [];
                        this.deletedContacts = [];
                    }
                });
            },
            deleteContact(contact) {
                if (this.currentContacts.length > 0 && this.currentContacts.indexOf(contact) !== -1) {
                    this.currentContacts.splice(this.currentContacts.indexOf(contact), 1);
                    this.deletedContacts.push(contact.email);
                } else if (this.newContacts.indexOf(contact) !== -1) {
                    this.newContacts.splice(this.newContacts.indexOf(contact), 1);
                }

            },
            isContactDeleted(contact) {
                if (this.deletedContacts.indexOf(contact) !== -1) {
                    return true
                } else {
                    return false;
                }

            }
        }
    };

</script>

<style scoped>

</style>