<template>
    <div id="myChart">
        <div id="content">
            {{data.label}}
            <canvas ref="chart"></canvas>
        </div>
    </div>
</template>

<script>
    import Chart from '../../../../../node_modules/chart.js/src/chart';
    import moment from 'moment';

    export default {
        name: 'myChart',
        props: ['data'],
        data() {
            return {
                xAxe: [],
                yAxe: []
            }
        },
        created() {
            var data_array = this.data.data;
            for (let i = 0; i < data_array.length; i++) {
                if (this.data.options.dataType.xAxe === 'date') {
                    this.xAxe.push(moment(data_array[i].xAxe).format('DD.MM.YYYY'));
                } else {
                    this.xAxe.push(data_array[i].xAxe);
                }
                this.yAxe.push(data_array[i].yAxe);
            }
        },
        mounted() {
            var chart = this.$refs.chart;
            var ctx = chart.getContext("2d");
            var myChart = new Chart(ctx, {
                type: this.data.type,
                data: {
                    labels: this.xAxe, // Ось Х
                    datasets: [{
                        label: this.data.label,
                        data: this.yAxe, // Ось Y
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            },
                            display: this.data.options.displayAxes
                        }],
                        xAxes: [{
                            display: this.data.options.displayAxes
                        }]
                    },
                    legend: {
                        display: false
                    },
                }
            });
        }
    }
</script>

<style scoped>
    #myChart {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        /*  margin-top: 60px;*/
    }

    #content {
        margin: auto;
        width: auto;
        background-color: #FFFFFF;
        /*     padding: 20px;*/
    }
</style>