<template>
    <div>
        <div class="form-inline" v-if="show">
            <div class="form-group">
                <label for="start_date">Дата и время</label>
                <masked-input id="start_date" class="form-control" v-model="start" mask="11.11.1111 11:11"
                              placeholder="dd.mm.yyyy hh:ii"/>
            </div>

            <div class="form-group">
                <label for="place">Место</label>
                <select class="form-control" id="place" v-model="place">
                    <option value="offline">Очно</option>
                    <option value="online">Онлайн</option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" @click="createRecord">Создать запись</button>
            </div>
        </div>
        <div class="alert alert-info" v-if="result">
            {{result}}
        </div>
    </div>

</template>

<script>
    import moment from 'moment'
    import MaskedInput from 'vue-masked-input'

    export default {
        name: "create-record",
        components: {
            MaskedInput
        },
        props: ['illness'],
        data() {
            return {
                place: 'offline',
                start: '',
                show: true,
                result: ''
            }
        },
        methods: {
            createRecord() {
                if (this.start === '') {
                    this.result = 'Укажите дату и время, пожалуйста'
                } else {
                    axios.post('/records/new', {
                        illness_id: this.illness.id,
                        place: this.place,
                        start: moment(this.start, 'DD.MM.YYYY HH:mm').format('YYYY-MM-DD HH:mm'),
                        doctor_id: this.illness.doctor_id,
                        user_id: this.illness.user_id
                    }).then(response => {
                        if (!response.data.error) {
                            this.result = "Запись создана";
                            this.show = false;
                        } else {
                            this.result = response.data.error;
                        }
                    });
                }
            }
        }
    }
</script>

<style scoped>

</style>