<template>
    <div>
        <h4>Последняя сводка</h4>
        <label class="radio-inline">
            <input type="radio" id="inlineCheckbox1" value="records" v-model="filter"> Записи
        </label>
        <label class="radio-inline">
            <input type="radio" id="inlineCheckbox2" value="illnesses" v-model="filter"> Обращения
        </label>
        <label class="radio-inline">
            <input type="radio" id="inlineCheckbox3" value="users" v-model="filter"> Пользователи
        </label>
        <hr>
        <div class="list-group">
            <div class="list-group-item" v-for="value in data">
                <a :href="'/illnesses/get/'+value.illness_id" v-if="filter==='records'">
                    <h4 class="list-group-item-heading">{{moment(value.start_date).format('HH:mm DD.MM.YYYY')}}</h4>
                    <p class="list-group-item-text">{{value.name}}</p>
                </a>
                <a :href="'/illnesses/get/'+value.id" v-else-if="filter==='illnesses'">
                    <h4 class="list-group-item-heading">{{value.name}}</h4>
                    <p class="list-group-item-text">{{value.description}}</p>
                </a>
                <a :href="'/admin/user/'+value.id" v-else-if="filter==='users'">
                    <h4 class="list-group-item-heading">{{value.name}}</h4>
                </a>
            </div>
        </div>
    </div>
</template>

<script>
    import moment from 'moment'

    Vue.prototype.moment = moment;
    moment.locale('ru');
    export default {
        name: "dashboard-table",
        props: [],
        data() {
            return {
                filter: 'records',
                data: []
            }
        },
        created() {
            axios.post('/admin/history/dashboard', {filter: this.filter}).then(response => {

                this.data = response.data.data;

                console.log(this.data);
            });
        },
        watch: {
            filter: function () {
                axios.post('/admin/history/dashboard', {filter: this.filter}).then(response => {

                    this.data = response.data.data;

                    console.log(this.data);
                });
            }
        },
        methods: {}
    }
</script>

<style scoped>
    a {
        color: inherit;
    }
</style>