<template>
    <div>
        <div v-for="campaign in campaign_arr" class="col-md-6 email-book ">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a :href="'/admin/emails/campaign/'+campaign.id">{{campaign.name}}</a>
                </div>
            </div>
        </div>
        <div class='col-md-12'>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <button @click="showNew = !showNew" class="btn btn-primary btn-xs">Создать кампанию</button>
                </div>
                <div class="panel-body" v-if="showNew">
                    <div class="form-group">
                        <label for="name" class="control-label">Название кампании</label>
                        <input id="name" v-model="name" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="subject" class="control-label">Тема письма</label>
                        <input id="subject" v-model="subject" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="template" class="control-label">Шаблон</label>
                        <select id="template" v-model="msg" class="form-control">
                            <option v-for="(template,index) in templates" :value="index">{{template.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="book" class="control-label">Книга</label>
                        <select id="book" v-model="address" class="form-control"
                                @change="getBookInfo(books[address].sp_id)">
                            <option v-for="(book,index) in books" :value="index">{{book.name}}</option>
                        </select>
                    </div>
                    <h4>Предпросмотр</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="well well-lg">
                                <p v-if="msg!==''" v-html="renderMessage(msg)"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="well well-lg">
                                <p v-if="address!==''">{{books[address].name}}</p>
                                <p class="text-muted">Контактов: {{bookInfo.length}}</p>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary" @click="sendMessage">Отправить</button>
                    <div v-if="response">
                        <hr>
                        <div v-if="response.is_error" class="alert alert-danger">
                            {{response.message}}
                        </div>
                        <div v-else class="alert alert-success">
                            Кампания создана
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['campaigns', 'books', 'templates'],
        data() {
            return {
                campaign_arr: this.campaigns,
                showNew: false,
                subject: '',
                msg: '',
                address: '',
                bookInfo: {},
                response: false
            }
        },
        methods: {
            renderMessage(msg) {
                return decodeURIComponent(escape(window.atob(this.templates[msg].body)));
            },
            getBookInfo(sp_id) {
                axios.post('/admin/emails/campaign/getbookinfo', {'id': sp_id}).then(response => {
                    console.log(response.data);
                    this.bookInfo = response.data;
                });
            },
            sendMessage() {
                axios.post('/admin/emails/campaign/send', {
                    'template': this.templates[this.msg].id,
                    'book': this.books[this.address].sp_id,
                    'subject': this.subject,
                    'name': this.name
                }).then(response => {
                    this.response = response.data;
                    if (!response.data.is_error) {
                        this.campaign_arr.push({'id': response.data.id, 'name': this.name})
                        this.showNew = false;
                        this.subject = '';
                        this.msg = '';
                        this.address = '';
                        this.bookInfo = {};
                    }

                });
            }
        }
    }
</script>

<style scoped>

</style>