<template>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>
                    Тип поля
                </th>
                <th>
                    Вопрос
                </th>
                <th>
                    Подсказка
                </th>
                <th>
                    Варианты
                </th>
                <th>
                    Обязательно к заполнению
                </th>
                <th>

                </th>
            </tr>
            </thead>
            <!-- Текущие вопросы -->
            <draggable v-model="currentQuestions" @start="drag=true" @end="drag=false" :element="'tbody'">
                <tr v-for="(q,index) in currentQuestions" :key="index">
                    <td>
                        {{humanType(q.type)}}
                    </td>
                    <td>
                        {{q.label}}
                    </td>
                    <td>
                        {{q.hint}}
                    </td>
                    <td>
                        <div v-if="isOptional(q)">
                            <ol>
                                <li v-for="opt in q.options">{{opt}}</li>
                            </ol>
                        </div>
                    </td>
                    <td>
                        <span v-if="q.required" class="glyphicon glyphicon-ok"></span>
                    </td>
                    <td>
                        <button class="btn btn-danger btn-xs" @click="deleteQ(q)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </td>
                </tr>
            </draggable>
            <!-- Добавить вопрос -->
            <tbody>
            <tr>
                <td>
                    <select class="form-control" v-model="newQuestion.type">
                        <option value="text">Строка</option>
                        <option value="textarea">Текст</option>
                        <option value="checkbox">Флаг</option>
                        <option value="radio">Выбор</option>
                        <option value="file">Файл</option>
                        <option value="select">Выбор из списка</option>
                    </select>
                </td>
                <td>
                    <input class="form-control" v-model="newQuestion.label"/>
                </td>
                <td>
                    <input class="form-control" v-model="newQuestion.hint"/>
                </td>
                <td>
                    <div v-if="isOptional(newQuestion)">
                        <div class="input-group" v-if="newQuestion.type !== 'checkbox' || newQuestion.options.length===0">
                            <input v-model="option" class="form-control"/>
                            <span class="input-group-btn">
                                <button class="btn btn-primary" @click="addOption">
                                    <span class="glyphicon glyphicon-arrow-right"></span>
                                </button>
                            </span>
                        </div>
                        <ol>
                            <li v-for="opt in newQuestion.options">{{opt}}</li>
                        </ol>
                    </div>
                </td>
                <td>
                    <input type="checkbox" v-model="newQuestion.required" value="1"/>
                </td>
                <td>
                    <button class="btn btn-primary btn-xs" @click="addQ">
                        <span class="glyphicon glyphicon-arrow-right"></span>
                    </button>
                </td>
            </tr>

            </tbody>
        </table>
        <div v-if="result" class="alert alert-info">
            {{result}}
        </div>
        <button class="btn btn-primary" @click="syncQ">Сохранить изменения</button>
    </div>
</template>

<script>
    import draggable from 'vuedraggable'

    export default {
        name: "form-questions",
        components: {
            draggable,
        },
        props: ['questions'],
        data() {
            return {
                newQuestion: {
                    type: '',
                    label: '',
                    hint: '',
                    required: false,
                    options: []
                },
                newQuestions: [],
                deletedQuestions: [],
                currentQuestions: this.questions,
                option: '',
                result: ''
            }
        },
        methods: {
            deleteQ(q) {
                this.currentQuestions.splice(this.currentQuestions.indexOf(q), 1);
                if (this.newQuestions.indexOf(q) !== -1) {
                    this.newQuestions.splice(this.newQuestions.indexOf(q), 1);
                } else {
                    this.deletedQuestions.push(q.id)
                }
            },
            addQ() {
                this.newQuestions.push(this.newQuestion);
                this.currentQuestions.push(this.newQuestion);
                this.newQuestion = {
                    type: '',
                    label: '',
                    hint: '',
                    required: false,
                    options: []
                };
            },
            isOptional(q) {
                if (q.type === 'select' || q.type === 'radio' || q.type === 'checkbox') {
                    return true;
                } else {
                    return false;
                }
            },
            addOption() {
                this.newQuestion.options[this.newQuestion.options.length] = this.option;
                this.option = '';
            },
            humanType(type) {
                if (type === 'text') {
                    return 'Строка'
                } else if (type === 'textarea') {
                    return 'Текстовое поле'
                } else if (type === 'radio') {
                    return 'Выбор'
                } else if (type === 'select') {
                    return 'Выбор из списка'
                } else if (type === 'checkbox') {
                    return 'Флаг'
                } else {
                    return 'file'
                }
            },
            syncQ() {
                for (var i = 0; i < this.currentQuestions.length; i++) {
                    this.currentQuestions[i].order = i;
                }
                axios.post('/admin/settings/questions', {
                    deletedQuestions: this.deletedQuestions,
                    currentQuestions: this.currentQuestions,
                }).then(response => {
                    this.result = response.data.msg;
                });
            }
        }
    }
</script>

<style scoped>

</style>