<template>
    <div>
        <div v-for="book in book_arr" class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a :href="'/admin/emails/book/get/'+book.sp_id"><strong>{{book.name}}</strong></a>
                    <div class="pull-right">
                        <a class="btn btn-default btn-xs" :href="'/admin/emails/book/get/'+book.sp_id">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>

                        <button class="btn btn-danger btn-xs" @click="deleteBook(book)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="input-group">
                        <input type="text" class="form-control" id="new-book-name" v-model="name"
                               placeholder="Введите название новой книги">
                        <span class="input-group-btn">
        <button class="btn btn-primary" type="button" @click="createBook"><span
                class="glyphicon glyphicon-chevron-right"></span> </button>
      </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "new-book-form",
        props: ['books'],
        data() {
            return {
                name: '',
                book_arr: this.books
            }
        },
        methods: {
            createBook() {
                axios.post('/admin/emails/book/new', {name: this.name}
                ).then(response => {
                    if (response.data.error == 0) {
                        this.book_arr.push(response.data.msg);
                        this.name = ''
                    }

                });
            },
            deleteBook(book) {
                axios.post('/admin/emails/book/delete', book).then(response => {
                    if (response.data.error == 0) {
                        this.book_arr.splice(this.book_arr.indexOf(book), 1);
                    }
                });
            }
        }
    }
</script>

<style scoped>

</style>