<template>
    <div>
        <ul class="list-unstyled list-inline">
            <li v-for="skill in skills_arr">
                <span class="alert alert-default">{{skill.name}} &nbsp;
                <button class="btn btn-default btn-xs" @click="removeSkill(skill)">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
                </span>
            </li>
            <li v-for="skill in newSkills">
                <span class="alert alert-default text-warning">{{skill.name}} &nbsp;
                <button class="btn btn-warning btn-xs" @click="removeSkill(skill)">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
                </span>
            </li>
        </ul>
        <div class="input-group">
            <input type="text" v-model="newSkill.name" class="form-control" @keyup.enter="addNewSkill">
            <span class="input-group-btn">
        <button class="btn btn-primary" type="button" @click="addNewSkill"><span
                class="glyphicon glyphicon-arrow-right"></span> </button>
      </span>
        </div><!-- /input-group -->
        <hr>
        <div v-if="result" class="alert alert-info">
            {{result}}
        </div>
        <button v-if="newSkills.length>0 || deletedSkills.length>0" class="btn btn-primary" @click="synSkills">
            Сохранить изменения
        </button>
    </div>
</template>

<script>
    export default {
        name: "specialities",
        props: ['skills'],
        data() {
            return {
                skills_arr: this.skills,
                newSkill: {},
                result: '',
                newSkills: [],
                deletedSkills: []
            }
        },
        methods: {
            addNewSkill() {
                this.newSkills.push(this.newSkill);
                this.newSkill = {};
            },
            removeSkill(skill) {
                if (this.skills_arr.length > 0 && this.skills_arr.indexOf(skill) !== -1) {
                    this.skills_arr.splice(this.skills_arr.indexOf(skill), 1);
                    this.deletedSkills.push(skill);
                } else if (this.newSkills.indexOf(skill) !== -1) {
                    this.newSkills.splice(this.newSkills.indexOf(skill), 1);
                }
            },
            synSkills() {
                axios.post('/admin/settings/skills', {
                    deleted_skills: this.deletedSkills,
                    new_skills: this.newSkills
                }).then(response => {
                    if (response.data.error == 0) {
                        this.result = 'Сохранено!';
                        var msg = (response.data.msg);
                        if (msg.length > 0) {
                            for (var i = 0; i < msg.length; i++) {
                                this.skills_arr.push(msg[i]);
                            }
                        }
                        this.newSkills = [];
                    } else {
                        this.result = 'Ошибка при редактировании!';
                    }
                });
            }
        }
    }
</script>

<style scoped>

</style>