<template>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Новый шаблон
                </div>
                <div class="panel-body">
                    <div class="form-inline">
                        <label class="control-label" for="name">Название шаблона</label>
                        <input type="text" v-model="name" class="form-control" id="name"/>
                        <button class="btn btn-primary" @click="saveTemplate">Сохранить шаблон</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Добавьте новый объект
                </div>
                <div class="panel-body">
                    <p>Тип объекта</p>
                    <ul class="list-unstyled">
                        <li>
                            <button class="btn btn-default btn-xs" :class="{active: isItActive('p')}"
                                    v-on:click="addLabel('p');  makeItActive('p')">Текстовое поле
                            </button>
                        </li>
                        <li>
                            <button class="btn btn-default btn-xs" :class="{active: isItActive('a')}"
                                    v-on:click="addLabel('a');  makeItActive('a')">Ссылка
                            </button>
                        </li>
                        <li>
                            <button class="btn btn-default btn-xs" :class="{active: isItActive('b')}"
                                    v-on:click="addLabel('button');  makeItActive('b')">Кнопка
                            </button>
                        </li>

                    </ul>
                    <hr>
                    <p>Размер объекта</p>
                    <ul class="list-unstyled list-inline">
                        <li>
                            <button class="btn btn-default btn-xs" :class="{active: checkWidth(33.3)}"
                                    v-on:click="setWidth(33.3)"> 33%
                            </button>
                        </li>
                        <li>
                            <button class="btn btn-default btn-xs" :class="{active: checkWidth(50)}"
                                    v-on:click="setWidth(50)">50%
                            </button>
                        </li>
                        <li>
                            <button class="btn btn-default btn-xs" :class="{active: checkWidth(100)}"
                                    v-on:click="setWidth(100)">100%
                            </button>
                        </li>
                    </ul>
                    <p class="text-muted">В одну линию помещаются <br> три объекта с шириной 33%; <br> два объекта с шириной 50%; <br> один объект с шириной 100%</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Настройте объект
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="input-menu">
                            <transition name="slide-fade">
                                <div v-if="show==='color'">
                                    <div class="clearfix pick-color">
                                        <div class="col-xs-1 color-item" v-for="(color, index) in colors">
                                            <label v-bind:style="{'background-color': color}" :for="'color_'+index"></label>
                                            <input :id="'color_'+index" type="radio" v-model="currentInput.options.color"
                                                   :value="color"/>
                                        </div>
                                    </div>
                                </div>
                                <div v-else-if="show==='size'">
                                    <div class="clearfix pick-color">
                                        <div class="col-xs-1 color-item" v-for="(size, index) in sizes">
                                            <label :for="'size_'+index">{{size}}</label>
                                            <input :id="'size_'+index" type="radio" v-model="currentInput.options.size"
                                                   :value="size"/>
                                        </div>
                                    </div>
                                </div>
                            </transition>
                            <ul class="list-inline">
                                <li>
                                    <button class="btn btn-danger btn-xs" @click="toggleBar('color')">
                                        <strong>Aa</strong>
                                    </button>

                                </li>
                                <li>
                                    <button class="btn btn-default btn-xs" @click="toggleBar('size')">
                                        <strong>{{currentInput.options.size}}</strong>
                                    </button>

                                </li>
                                <li class="hide-input">
                                    <label class="btn btn-default btn-xs"
                                           v-bind:class="{ active: currentInput.options.weight===700 }">
                                        <input type="checkbox" @click="switchWeight">
                                        <strong>B</strong>
                                    </label>
                                </li>
                                <li class="hide-input">
                                    <label class="btn btn-default btn-xs"
                                           v-bind:class="{ active: currentInput.options.font==='italic' }">
                                        <input type="checkbox" @click="switchFont">
                                        <i>L</i>
                                    </label>
                                </li>
                                <li class="hide-input">
                                    <label class="btn btn-default btn-xs" v-bind:class="{ active: checkAlign('left') }">
                                        <input type="radio" value="left" v-model="currentInput.options.align">
                                        <span class="glyphicon glyphicon-align-left"></span>
                                    </label>
                                </li>
                                <li class="hide-input">
                                    <label class="btn btn-default btn-xs" v-bind:class="{ active: checkAlign('center') }">
                                        <input type="radio" value="center" v-model="currentInput.options.align">
                                        <span class="glyphicon glyphicon-align-center"></span>
                                    </label>
                                </li>
                                <li class="hide-input">
                                    <label class="btn btn-default btn-xs" v-bind:class="{ active: checkAlign('right') }">
                                        <input type="radio" value="right" v-model="currentInput.options.align">
                                        <span class="glyphicon glyphicon-align-right"></span>
                                    </label>
                                </li>
                                <li>
                                    <button class="btn btn-default btn-xs" @click="deleteThis(currentInput)">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </li>
                                <li v-if="currentInput.type === 'a' || currentInput.type === 'button'">
                                    <label for="url-template"> URL:</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">http://</span>
                                        <input id="url-template" type="text" class="form-control" placeholder="site.com"
                                               v-model="currentInput.url">
                                    </div>
                                </li>
                                <li class="hide-input" v-if="currentInput.type === 'button'">
                                    <button class="btn btn-default btn-xs" v-bind:class="{ active: checkButtonSize('xs') }"
                                            @click="switchButtonSize('xs')">
                                        XS
                                    </button>
                                </li>
                                <li class="hide-input" v-if="currentInput.type === 'button'">
                                    <label class="btn btn-default btn-xs" v-bind:class="{ active: checkButtonSize('m') }"
                                           @click="switchButtonSize('m')">
                                        M
                                    </label>
                                </li>
                                <li class="hide-input" v-if="currentInput.type === 'button'">
                                    <label class="btn btn-default btn-xs" v-bind:class="{ active: checkButtonSize('l') }"
                                           @click="switchButtonSize('l')">
                                        L
                                    </label>
                                </li>
                                <li class="hide-input" v-if="currentInput.type === 'button'">
                                    <label class="btn btn-default btn-xs" v-bind:class="{ active: checkButtonSize('xl') }"
                                           @click="switchButtonSize('xl')">
                                        XL
                                    </label>
                                </li>

                            </ul>
                        </div>

                        <div>
                            <textarea class="form-control" v-model="currentInput.value"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Результат
                </div>
                <div class="panel-body">
                    <div class="result-email-template" id="js-save-template">
                        <div v-sortable>
                            <div v-for="label in labels" :key="label.order" style="float:left;margin-bottom: 10px" v-bind:style="{'width':label.width+'%'}" v-bind:class="{selected:isItActive(label.order) }">
                                <div v-if="label.type==='p'">
                                    <p
                                            v-bind:style="{'text-align': label.options.align,'color':label.options.color,'font-size':label.options.size+'px','font-weight': label.options.weight,'font-style':label.options.font}"
                                            @click="selectThis(label)">{{ label.value }}</p>
                                </div>
                                <div v-else-if="label.type==='a'"
                                     v-bind:style="{'text-align': label.options.align,'color':label.options.color,'font-size':label.options.size+'px','font-weight': label.options.weight,'font-style':label.options.font}">
                                    <a
                                            v-bind:href=" 'http://'+ label.url" target="_blank">{{ label.value }}</a>
                                    <button @click="selectThis(label)" class="btn btn-default btn-xs js-support-item"><span
                                            class="glyphicon glyphicon-pencil"></span></button>
                                </div>
                                <div v-else-if="label.type==='button'"
                                     v-bind:style="{'text-align':label.options.align}">
                                    <a style="display: inline-block;    margin-bottom: 0;    font-weight: 400;    text-align: center;    vertical-align: middle;    touch-action: manipulation;    white-space: normal;line-height: 1.6;    border-radius: 5px;user-select: none;    border: 1px solid;"

                                       v-bind:href="'http://'+ label.url" target="_blank"
                                       v-bind:style="{'color':label.options.color,'font-size':label.options.size+'px','font-weight': label.options.weight,'font-style':label.options.font,'padding':label.options.padding}">
                                        {{label.value }}
                                    </a>
                                    <button @click="selectThis(label)" class="btn btn-default btn-xs js-support-item"><span
                                            class="glyphicon glyphicon-pencil"></span></button>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: [],
        data() {
            return {
                show: false,
                value: '',
                order: 0,
                labels: [],
                strong: false,
                cursive: false,
                align: 'left',
                url: '',
                buttonSize: 'm',
                currentInput: {
                    order: 0,
                    type: '',
                    value: '',
                    url: '',
                    buttonSize: 'm',
                    options: {
                        weight: 300,
                        font: 'normal',
                        align: 'left',
                        color: 'black',
                        size: 14,
                        padding: '5px 10px'
                    },
                    width: 100
                },
                selected: '',
                colors: [
                    'Black',
                    'Gray',
                    'Silver',
                    'White',
                    'Fuchsia',
                    'Purple',
                    'Red',
                    'Maroon',
                    'Yellow',
                    'Olive',
                    'Lime',
                    'Green',
                    'Aqua',
                    'Teal',
                    'Blue',
                    'Navy'
                ],
                sizes: [
                    10, 12, 14, 16, 18, 20, 22, 24, 26
                ]
            }
        },
        methods: {
            /* Добавляем новое поле */
            addLabel(type) {
                if (this.currentInput.value.length > 0 || this.currentInput.type.length === 0) {
                    this.currentInput = {
                        order: this.order++,
                        type: type,
                        value: '',
                        url: '',
                        buttonSize: 'm',
                        options: {
                            weight: 300,
                            font: 'normal',
                            align: 'left',
                            color: 'black',
                            size: 14,
                            padding: '5px 10px'
                        },
                        width: 100
                    };
                    this.labels.push(this.currentInput);
                } else {
                    this.currentInput.type = type;
                }
            },
            /* Проверяем, какую кнопку подсвечивать при переключении линейки текста (заголовка) */
            checkAlign(align) {
                if (this.currentInput.options.align === align) {
                    return true;
                } else {
                    return false;
                }
            },
            /* Проверяем активную кнопку у размера кнопоки */
            checkButtonSize(size) {
                if (this.currentInput.buttonSize === size) {
                    return true;
                } else {
                    return false;
                }
            },
            avisoButtonSize(label, size) {
                if (label === size) {
                    return true;
                } else {
                    return false;
                }
            },
            saveTemplate() {
                $('.js-support-item').remove();

                axios.post('/admin/emails/template/save',
                    {
                        body: $('#js-save-template').html(),
                        name: this.name
                    }
                ).then(response => {
                    location.href = "/admin/emails";
                });

            },
            selectThis(label) {
                this.currentInput = this.labels[this.labels.indexOf(label)];
                this.makeItActive(label.order);
                return false;
            },
            deleteThis(label) {
                this.labels.splice(this.labels.indexOf(label), 1);
                this.currentInput = {
                    order: 0,
                    type: '',
                    value: '',
                    buttonSize: 'm',
                    url: '',
                    options: {
                        strong: false,
                        cursive: false,
                        align: 'left',
                        padding: '  buttonSize: \'m\''
                    }
                };
            },
            makeItActive(index) {
                this.selected = index;
            },
            isItActive(index) {
                if (this.selected === index) {
                    return true;
                } else {
                    return false;
                }
            },
            switchWeight() {
                if (this.currentInput.options.weight === 300) {
                    this.currentInput.options.weight = 700
                } else {
                    this.currentInput.options.weight = 300;
                }
            },
            switchFont() {
                if (this.currentInput.options.font === 'normal') {
                    this.currentInput.options.font = 'italic'
                } else {
                    this.currentInput.options.font = 'normal';
                }
            },
            toggleBar(item) {
                if (this.show === item) {
                    this.show = false;
                } else {
                    this.show = item;
                }
            },
            switchButtonSize(size) {
                this.currentInput.buttonSize = size;
                if (size === 'xs') {
                    this.currentInput.options.padding = '1px 5px'
                } else if (size === 'm') {
                    this.currentInput.options.padding = '5px 10px';
                } else if (size === 'l') {
                    this.currentInput.options.padding = '6px 12px';
                } else {
                    this.currentInput.options.padding = '8px 15px';
                }
            },
            setWidth(width) {
                this.currentInput.width = width;
            },
            checkWidth(width) {
                if (this.currentInput.width === width) {
                    return true;
                } else {
                    return false;
                }
            }
        }
    };
</script>